{% extends "base.html" %}
{% load static %}

{% block title %}
    {% block subtitle %}{% endblock subtitle %} Overtrick
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="{% static 'overtrick/css/social-circles.css' %}" >
{% endblock stylesheets %}

{% block content %}
    <div class="row" >
        <div id="nav-sidebar"
             class="col-3 d-flex flex-column position-fixed h-100 px-5 py-3 bg-color-dark" >
            <h3 class="pt-3 pb-2" >
                <a href="{% url 'almanac:session_list' %}" >Overtrick</a >
            </h3 >

            <hr />

            <ul id="sidebar-links" class="list-group list-group-flush ps-0" >
                <li class="list-group-item bg-color-dark ps-0" >
                    <a href="{% url 'almanac:session_list' %}" >
                        Sessions
                    </a >
                </li >
                <li class="list-group-item bg-color-dark ps-0" >
                    Players
                </li >
            </ul >
            <hr />

            <footer class="mt-auto text-center" >
                <div id="calendar" class="card mb-5 bg-color-dark" >
                    <div class="card-body" >
                        <h5 class="card-title" >Calendar</h5 >
                        <p class="card-text" ></p >
                    </div >
                </div >

                <div >
                    <a class="icon-linkedin social-button borderless"
                       href="https://www.linkedin.com/in/katemckenzie/" >
                    </a >
                    <a class="icon-github social-button borderless"
                       href="https://github.com/katemakescode/mercantile" >
                    </a >
                </div >

                <small class="text-muted" >
                    <a href="https://behind-the-web.herokuapp.com/" >Crafted by
                        Kate</a >
                    &bull; Powered by Django
                </small >
            </footer >
        </div >

        <section id="main" class="container-fluid col-9 offset-3 px-4 py-4" >
            <header class="row h4" >
                <div class="col" >
                    {% block header-left %}{% endblock header-left %}
                </div >
                <div class="col align-right" >
                    {% block header-right %}{% endblock header-right %}
                </div >
            </header >
            <hr />
            {% block main %}{% endblock main %}
        </section >
    </div >
{% endblock content %}
